<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>test</title>
	<link href="css/style.css" rel="stylesheet">
	<script src="https://cdn.tailwindcss.com"></script>
	<style>
		* {
			color: white;
		}
		
		html {font-size: 100% !important; } /* 16px */

		h1 {font-size: 4.210rem !important; /* 67.36px */}

		h2 {font-size: 3.158rem !important; /* 50.56px */}

		h3 {font-size: 2.369rem !important; /* 37.92px */}

		h4 {font-size: 1.777rem !important; /* 28.48px */}

		h5 {font-size: 1.333rem !important; /* 21.28px */}

		small {font-size: 0.750rem !important; /* 12px */}
	</style>	
</head>

<body class="bg-black p-10">
	<h1>aws s3 file manager</h1>
	{{ template "Folder" .}}
</body>

</html>
