<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>test</title>
	<script src="static/main.js"> </script>
	<script src="https://unpkg.com/htmx.org@1.6.1"></script>
	<link rel="stylesheet" href="static/style.css">
	<style>

	</style>
</head>

<body class="bg-black ">
	<div id="overlay" class="flex  absolute justify-center items-center" style="display: none;">

	</div>
	<div class="w-full flex flex-col gap-4 h-full p-10">

		<h1 class="">aws s3 file manager</h1>
		<select class="bg-black border border-white rounded p-2" id="select" type="text" name="bucket"
			hx-get="/explorer" hx-trigger="change" hx-target="#explorer">
			<option value="" selected disabled>Select a bucket</option>
			{{ range . }}
			<option value="{{ . }}">{{ . }}</option>
			{{ end }}
		</select>
		<div id="explorer">

		</div>
	</div>
</body>

</html>
